20BRS1075 Aman Gupta

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing,svm
from sklearn.model_selection import train_test_split

In [ ]:
data=pd.read_csv("iris.csv")

In [ ]:
data.head

<bound method NDFrame.head of      sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]>

In [ ]:
X=data.iloc[:,0:4]
X

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
y=data.variety
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
y= label_encoder.fit_transform(y)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [ ]:
model=svm.SVC()
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=0.3)
print(xtrain,ytrain)

     sepal.length  sepal.width  petal.length  petal.width
79            5.7          2.6           3.5          1.0
103           6.3          2.9           5.6          1.8
95            5.7          3.0           4.2          1.2
3             4.6          3.1           1.5          0.2
124           6.7          3.3           5.7          2.1
..            ...          ...           ...          ...
8             4.4          2.9           1.4          0.2
105           7.6          3.0           6.6          2.1
98            5.1          2.5           3.0          1.1
50            7.0          3.2           4.7          1.4
16            5.4          3.9           1.3          0.4

[105 rows x 4 columns] [1 2 1 0 2 1 0 0 0 1 0 0 0 2 0 0 2 1 2 0 0 0 1 2 2 1 2 0 0 0 1 0 0 1 2 0 1
 0 1 0 0 1 2 1 2 1 2 0 1 2 1 0 2 2 0 0 1 0 1 1 0 2 2 2 2 2 0 0 2 0 2 1 0 2
 2 1 1 1 2 2 0 1 0 2 2 1 1 1 0 2 2 1 1 0 1 1 1 0 1 2 0 2 1 1 0]

In [ ]:
model.fit(xtrain,ytrain)
ypred=model.predict(xtest)

In [ ]:
print(ypred)
print(ytest)

[0 2 2 2 2 0 0 1 0 1 1 2 2 2 1 1 0 2 2 1 0 2 1 2 2 2 0 0 0 0 1 1 2 1 1 2 0
 1 1 2 0 2 1 1 1]
[0 2 2 2 2 0 0 1 0 1 2 2 2 2 1 1 0 2 2 1 0 2 1 2 2 2 0 0 0 0 1 1 2 1 1 2 0
 1 1 2 0 2 1 1 1]

In [ ]:
print(model.score(xtest,ytest))

0.9777777777777777